
html, body {
  margin:0px !important;
  height: 100% !important;
}
body {
  /* background: linear-gradient(198deg, #fea163 0%, #e53600 100%) !important; */
  overflow: hidden;
  background: rgb(251,129,63);
  background: radial-gradient(circle, rgba(251,129,63,1) 0%, rgba(252,103,70,1) 100%);
}
#__next{
  height: 100% !important;
}
.container-page{
  max-width: 80%;
  margin:0 auto;
  height: 100% !important;
}
.header{
  margin:15px 0;
  font-size:30px;
  font-weight: bold;
  color:white;
}
.header #about-page{
  /* float:right; */
  font-weight: bold;
  color:white;
  
}
.header #about-page a {
  color:white;
  text-decoration: none;
  margin-left: 30px;
  font-size:18px;
}
.header #logo-page a{
  color:white;
  text-decoration: none;
}

.main{
  height: 100% !important;
}
.main #sheet{
  background:white;
  border-radius: 5px 5px 0 0;
  padding:20px;
  height: 700px;
  overflow-y: scroll;
}

.main #sheet::-webkit-scrollbar-track
{
	background-color: white;
}

.main #sheet::-webkit-scrollbar
{
	width: 10px;
	background-color: white;
  border-radius: 5px;
}

.main #sheet::-webkit-scrollbar-thumb
{
	background: radial-gradient(circle, rgba(251,129,63,1) 0%, rgba(252,103,70,1) 100%);
}
.main #sheet h1{
  text-align: center;
  font-size:28px;
  font-weight:bold;
}
.main #sheet #_sheet {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 16.5165%;
  vertical-align: middle;
  overflow: hidden;
}
.main #sheet #_sheet #_row_sheet{
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 16.5165%;
  vertical-align: middle;
  overflow: hidden;
}
.main #sheet #_sheet #_row_sheet svg{
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.main #_control {
  background: rgba(253, 253, 253, 0.67);
  border-radius: 0px 0px 5px 5px;
  padding:20px 50px;
}
.main #_control button {
  border:none;
  background:none;
  outline:none;
}
.main #tool-bar {
  background:white;
  border-radius: 5px;
  padding:20px 50px;
  height: 765px;
  position: relative;

}
.main #tool-bar h1{
  font-size:25px;
  font-weight: bold;
  text-align: center;
}

.main #_control div {
  display: inline-block !important;
  margin-right:10px;
}
.main #_control #button-control {
  max-width: 100px;
}
.main #_control #time-bar{
  width: calc(100% - 100px);
  float:right;
  margin-right:0 !important;
  display: flex !important;
}
.main #_control #time-bar span{
    flex: 1;
}
.main #_control #time-bar #_time_start{
  max-width: 60px;
  text-align: left;
}
.main #_control #time-bar #_time_end{
  max-width: 60px;
  text-align: right;
}
.main #_control #time-bar #_progress_bar {
  width: 100%;
  position: relative;
  height: 4px;
  border: 1px solid #fc6746;
  margin-top:10px;
  border-radius: 20px;
}
.main #_control #time-bar #_progress_bar::before{
  content:'';
  position: absolute;
  height:5px;
  width:0;
  background: #fc6746;
  border-radius: 20px 0 0 20px;
  top:-1px;
  left:-1px;
}
.main #_control #time-bar #_progress_bar i {
  color: #fc6746;
  position: absolute;
  top:-7px;
  left:-2px;
}

.main #tool-bar #media{
  width: 100%;
}
.main #tool-bar #numerator,
.main #tool-bar #denominator {
  width: 100%;
  position: relative;
}
.main #tool-bar #numerator input,
.main #tool-bar #denominator input {
  width: 100%;
  padding:10px 15px;
  border:1px solid #fc6746;
  border-radius: 5px;
  margin:10px 0;
  outline:none;
}
.main #tool-bar #numerator span,
.main #tool-bar #denominator span {
  position: absolute;
  top:20px;
  left:25px;
  background-color: white;
  padding:0 5px;
  transition: .05s all;
  transform: translateY(-15px);
  font-size:15px;
  font-weight: bold;
  color: #fc6746;
}
.main #title_sheet {
  position: relative;
}
.main #title_sheet input{
  width: 100%;
  padding:10px 15px;
  border:1px solid #fc6746;
  border-radius: 5px;
  margin:10px 0;
  outline:none;
}
.main #title_sheet span {
  position: absolute;
  top:20px;
  left:25px;
  background-color: white;
  padding:0 5px;
  transition: .05s all;
  transform: translateY(-15px);
  font-size:15px;
  font-weight: bold;
  color: #fc6746;
}
.main #make_sheet #random_note,
.main #make_sheet #predict_note,
.main #download #pdf,
.main #download #midi{
  width: 100%;

}
.main #make_sheet #random_note button,
.main #make_sheet #predict_note button,
.main #download #pdf button,
.main #download #midi button
 {
  width: 100%;
  padding:10px;
  border-radius: 5px;
  background: rgb(251,129,63);
  background: radial-gradient(circle, rgba(251,129,63,1) 0%, rgba(252,103,70,1) 100%);
  color:white;
  font-weight: bold;
  border:none;
  outline: none !important;
}
.main #download {
  position: absolute;
  width: calc(100% - 100px);
  bottom:20px;
}